<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('includes/navbar', {links: links}) %>
    <h1><%= title %></h1>

    <ul>
      <% categories.map(item => {%>
      <li><a href="products?category=<%= item.type %>"><%= item.type %></a></li>
      <%})%>
    </ul>
  </body>
</html>
