<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<%- include('includes/navbar', {links: links}) %>
<h1 class="title"><%= title %></h1>
<button  class="new_prod"><a href="/products/create">Create a new product</a></button>
<main>
    <% products.map(item => {%>
        <button class="product"><a href=/products/<%= item.id %>><%= item.product + " " + item.type + " " + item.manufacturer + " " + item.price+ "€" %></a></button>
    <%})%>
</main>
</body>
</html>